@use "../base/index" as *;

.login {
  background-color: $purple-secondary;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 49px 28px;

  .icon-holder {
    text-align: center;
    height: 40%;

    & > svg {
      font-size: 150px;
      color: $green-primary;
    }
  }

  .input-holder {
    display: flex;
    flex-direction: column;
    gap: 16px;
    .username,
    .password {
      position: relative;
      display: flex;
      flex-direction: column;
    }

    .icon {
      height: 32px;
      width: 28px;
      color: $white;
      padding: 4px;
      position: absolute;
      box-sizing: border-box;
      top: 50%;
      left: 15px;
      transform: translateY(-50%);
    }
  }

  .button-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-top: 53px;

    & > button {
      width: 190px;
      font-size: 20px;
      font-weight: 700;
      font-family: $ff-Inter;
      padding: 17px 50px;
      border-radius: 50px;
    }
    span {
      color: $white;
      cursor: pointer;
    }
  }
}
